[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

sqlalchemy = "*"
bcrypt = "*"
celery = "*"
"celery-redbeat" = "*"
redis = "*"
amqp = "*"
limits = "*"
first = "*"
pyramid = "*"
"pyramid-services" = "*"
gunicorn = "*"
"pyramid-jinja2" = "*"


[dev-packages]

pytest = "*"
alembic = "*"
codecov = "*"
coverage = "*"
tox = "*"
"flake8" = "*"
waitress = "*"