alembic
argon2-cffi
boto3
click
celery
celery-redbeat
redis
amqp
limits
first
pyramid
pyramid-multiauth
pyramid-services
pyramid-retry
pyramid-tm>=1.1.1,<2.0.0
gunicorn
pyramid-jinja2
wtforms
sqlalchemy
psycopg2
zope.interface
zope.sqlalchemy
msgpack-python
passlib
pyramid-mailer
whitenoise
itsdangerous
raven
structlog
misaka
houdini.py
pygments
brotlipy
pusher
pyyaml
